body {
    font-family: 'Jost', sans-serif;
}

/* Barra de navegación fija en la parte superior */
.navbar {
    background-color: rgba(33, 37, 41, 0.6);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el menú quede encima del contenido */
}

/* Oculta el botón de menú en pantallas grandes */
.navbar-toggler {
    display: none;
}

/* Contenedor con flexbox para alinear los elementos */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Ajustar los elementos del navbar */
.navbar-nav {
    display: flex;
    gap: 30px;
    margin: 0;
}

/* Quitamos el estilo predeterminado de la lista */
.navbar-nav .nav-item {
    list-style: none;
}

/* Añadimos margen al ultimo elemento de la lista para que no se salga de la pantalla */
.navbar-nav .nav-item:last-child {
    margin-right: 50px;
}

/* Estilo para los enlaces */
.navbar-nav .nav-link {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 5px 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* La pestaña en la que nos encontramos se ve en amarillo */
.navbar-nav .nav-link.active {
    color: #cca000;
}

/* Cambio de color al pasar el ratón por encima */
.navbar-nav .nav-link:hover {
    color: #cca000;
}

.hidden {
    display: none;
}

/* Estilos generales del menú desplegable */
.dropdown-menu {
    position: absolute;
    top: 100%; /* Justo debajo del botón */
    right: 50px; /* Desplazado ligeramente hacia la izquierda */
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra elegante */
    min-width: 150px; /* Ajuste del ancho */
}

/* Mostrar el menú cuando está activo */
.dropdown-menu.show {
    display: block;
}

/* Estilos de los enlaces dentro del menú */
.dropdown-menu button {
    display: block;
    width: 100%;
    padding: 8px 12px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown-menu button:hover {
    background-color: #0056b3; /* Azul oscuro */
    color: white; /* Hace que el texto resalte */
}

.text {
    margin-top: 15px;
}

.login-button {
    display: inline-block;
    padding: 14px 28px !important;
    background-color: white;
    text-transform: uppercase;
    text-align: center;
    border-radius: 8px;
    color: #cca000 !important;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.login-button:hover {
    background-color: #cca000;
    color: white !important;
    border-color: white;
    transform: translateY(-3px) translateX(3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.login-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(204, 160, 0, 0.4);
}
