body {
    font-family: 'Jost', sans-serif;
    overflow-x: hidden;
}

/* Navbar transparente al inicio */
#mainNav {
    background-color: transparent;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.5s ease;
}

/* Navbar con fondo oscuro y animación al hacer scroll */
#mainNav.navbar-shrink {
    background-color: rgba(33, 37, 41, 0.9);
}

/* Oculta el botón de menú en pantallas grandes */
.navbar-toggler {
    display: none;
}

/* Contenedor flexbox para alinear los elementos */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Ajuste de elementos del navbar */
.navbar-nav {
    display: flex;
    gap: 30px;
    margin: 0;
}

/* Quitamos el estilo predeterminado de la lista */
.navbar-nav .nav-item {
    list-style: none;
}

/* Añadimos margen al último elemento de la lista para que no se salga de la pantalla */
.navbar-nav .nav-item:last-child {
    margin-right: 50px;
}

/* Estilo para los enlaces */
.navbar-nav .nav-link {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 5px 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

/* La pestaña activa se ve en amarillo */
.navbar-nav .nav-link.active {
    color: #cca000;
}

/* Cambio de color al pasar el ratón */
.navbar-nav .nav-link:hover {
    color: #cca000;
}

/* Ocultar elementos con la clase hidden */
.hidden {
    display: none;
}

/* Estilos para el menú desplegable */
.dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    z-index: 1000;
}

/* Margen superior para el texto */
.text {
    margin-top: 15px;
}

/* Botón de login */
.login-button {
    display: inline-block;
    padding: 14px 28px !important;
    background-color: white;
    text-transform: uppercase;
    text-align: center;
    border-radius: 8px;
    color: #cca000 !important;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.login-button:hover {
    background-color: #cca000;
    color: white !important;
    border-color: white;
    transform: translateY(-3px) translateX(3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.login-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(204, 160, 0, 0.4);
}

/* Cuando hay barra lateral, se ajusta el masthead */
.masthead {
    background-image: url('../assets/img/Fondo.jpeg'); /* Imagen de fondo */
    background-size: cover; /* Cubrir todo el contenedor */
    background-position: center -15px; /* Centrar imagen */
    background-attachment: fixed; /* Fijar imagen */
    background-repeat: no-repeat; /* No repetir */

    width: 100%;  /* Reduce el ancho si hay barra lateral (ajusta el 250px según el tamaño de la barra lateral) */
    height: 100vh; /* Mantener la altura en 100vh */

    display: flex;
    justify-content: center;
    justify-items: center;
    color: white;

    margin-left: -8px;  /* Elimina márgenes */
    margin-top: -8px;
    padding: 0; /* Elimina padding */
    overflow: hidden; /* Evita posibles desbordamientos */
}

.masthead .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos para el texto en el masthead */
.masthead .masthead-heading {
    font-size: 3rem; /* Tamaño grande para el título */
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px; /* Espacio debajo del texto */
}

/* Botón con estilo de enlace */
.masthead .btn-primary {
    all: unset;
    background-color: #cca000; /* Color dorado */
    color: white; /* Texto blanco */
    text-transform: uppercase;
    padding: 15px 30px; /* Relleno de botón */
    border-radius: 50px; /* Bordes redondeados */
    font-size: 1.2rem; /* Tamaño de fuente */
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Efectos de transición */
}

.masthead .btn-primary:hover {
    background-color: #b38f00; /* Color un poco más oscuro al pasar el mouse */
    transform: translateY(-3px); /* Efecto de levitar al pasar el ratón */
}
