body {
    overflow-x: hidden;
}

/* Navbar transparente al inicio */
#mainNav {
    background-color: transparent;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.5s ease;
}

/* Navbar con fondo oscuro y animación al hacer scroll */
#mainNav.navbar-shrink {
    background-color: rgba(33, 37, 41, 0.5);
}

/* Cuando hay barra lateral, se ajusta el masthead */
.masthead {
    background-image: url('../assets/img/Fondo.jpeg'); /* Imagen de fondo */
    background-size: cover; /* Cubrir todo el contenedor */
    background-position: center -15px; /* Centrar imagen */
    background-attachment: fixed; /* Fijar imagen */
    background-repeat: no-repeat; /* No repetir */

    width: 100%;  /* Reduce el ancho si hay barra lateral (ajusta el 250px según el tamaño de la barra lateral) */
    height: 100vh; /* Mantener la altura en 100vh */

    display: flex;
    justify-content: center;
    justify-items: center;
    color: white;

    margin-left: -8px;  /* Elimina márgenes */
    margin-top: -8px;
    padding: 0; /* Elimina padding */
    overflow: hidden; /* Evita posibles desbordamientos */
}

.masthead .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos para el texto en el masthead */
.masthead .masthead-heading {
    font-size: 3rem; /* Tamaño grande para el título */
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px; /* Espacio debajo del texto */
}

/* Botón con estilo de enlace */
.masthead .btn-primary {
    all: unset;
    background-color: #cca000; /* Color dorado */
    color: white; /* Texto blanco */
    text-transform: uppercase;
    padding: 15px 30px; /* Relleno de botón */
    border-radius: 50px; /* Bordes redondeados */
    font-size: 1.2rem; /* Tamaño de fuente */
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Efectos de transición */
}

.masthead .btn-primary:hover {
    background-color: #b38f00; /* Color un poco más oscuro al pasar el mouse */
    transform: translateY(-3px); /* Efecto de levitar al pasar el ratón */
}
